@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<div class="uk-grid uk-grid-width-1-2 uk-grid-match" data-uk-grid-margin data-uk-grid-match="{target:'.uk-panel'}">
    <div>
        <div class="uk-panel-box">
            Mailing Address:<br />
            <address>
                Michael John Horn<br />
                1305W 300N<br />
                Clearfield, UT 84015<br />
                <abbr title="Phone">P:</abbr>
                801.661.0002
            </address>
        </div>
    </div>
    <div>
        <div class="uk-panel-box">
            EMail Addresses:<br />
            <address>
                <strong>Personal Contact: </strong><a href="mailto:Me@MichaelJohnHorn.com">Me@MichaelJohnHorn.com</a><br />
                <strong>Domestic (USA): </strong>   <a href="mailto:Domestic@MichaelJohnHorn.com">Domestic@MichaelJohnHorn.com</a><br />
                <strong>International: </strong> <a href="mailto:International@MichaelJohnHorn.com">International@MichaelJohnHorn.com</a>
            </address>
        </div>

    </div>
    <div>
        <div class="uk-panel-box">
            Social Media:<br />
            <address>
                <a href="http://www.facebook.com/michael.john.horn" target="_blank" class="uk-icon-button uk-icon-facebook"></a>
                <a href="http://www.linkedin.com/in/michaeljohnhorn" target="_blank" class="uk-icon-button uk-icon-linkedin"></a>
                <a href="https://twitter.com/Lvl15TechNinja" target="_blank" class="uk-icon-button uk-icon-twitter"></a>
            </address>
           
        </div>
    </div>


</div>




