@{
    ViewBag.Title = "Home Page";
}


<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">

        <div class="uk-vertical-align uk-text-center">
            <div style="background: url('/Images/global_development.jpg') 50% 0 no-repeat; height: 292px;">

            </div>
            <div class="uk-vertical-align-middle uk-width-1-2">
                <h1 class="uk-heading-large">Expert Software Developer / Architect</h1>
                <p class="uk-text-large">Anyone can do what's possible, I can do the impossible.</p>
                <p class="uk-text-justify">Multifaceted technical career with extensive proven track record of innovation, excellence and success.</p>
                <p class="uk-text-justify">
                    Results-oriented, proactive visionary with extensive background in providing the driving
                    force behind software development. Skilled facilitator with a proven talent for directing all
                    phases of the SDLC and determining innovative solutions to diverse and complex business
                    issues. Expert programming capabilities with a deep and broad knowledge of modern
                    programming tools, languages and methodologies.
                </p>
                <p>
                    <a class="uk-button uk-button-primary uk-button-large" href="/Home/Contact">Contact me</a>
                    <!--<a class="uk-button uk-button-large" href="/Home/About">About Me</a>-->
                </p>
            </div>

        </div>
    </div>
</div>

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <div class="uk-text-center">

            <div class="uk-flex-inline uk-flex-center uk-flex-middle uk-flex-space-between" data-uk-grid-margin>
                <a href="http://www.facebook.com/michael.john.horn" target="_blank" class="uk-icon-button uk-icon-facebook"></a>
                <a href="http://www.linkedin.com/in/michaeljohnhorn" target="_blank" class="uk-icon-button uk-icon-linkedin"></a>
                <a href="https://twitter.com/Lvl15TechNinja" target="_blank" class="uk-icon-button uk-icon-twitter"></a>
            </div>
        </div>
    </div>
</div>

<hr class="uk-grid-divider">

<div class="uk-grid" data-uk-grid-margin>

    <div class="uk-width-medium-1-2">
        <img width="660" height="400" src="~/Images/code.jpg" alt="">
    </div>

    <div class="uk-width-medium-1-2">
        <h1>Programming</h1>
        <p>The expert development of applications, web sites, and other software driven systems. By the hour, day, week, month, year or project. Onsite or remote. </p>
        <h2>Core Services</h2>
        <p>Languages: C, C++, C#, C#.Net, .Net 2.0/3.0/4.0/4.5, Java, JavaScript, AJAX, CSS, VB, VB.Net, , Angular.js</p>
        <p>Web Technologies: HTML, Java Script, VBScript, ASP .Net 1.0 / 2.0, SOAP, REST, XML, XSLT, Web Services, WCF</p>
        <a class="uk-button uk-button-primary" href="/Home/Programming">More Info</a>
    </div>

</div>

<hr class="uk-grid-divider">

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        <img width="660" height="400" src="~/Images/SharePoint2013logo.png" alt="">
    </div>
    <div class="uk-width-medium-1-2">
        <h1>SharePoint</h1>
        <blockquote>
            SharePoint comprises a multipurpose set of Web technologies backed by a common technical infrastructure.
            By default, SharePoint has a Microsoft Office-like interface, and it is closely integrated with the Office suite.
            The web tools are intended for non-technical users. SharePoint can provide intranet portals, document and file management, collaboration, social networks, extranets, websites, enterprise search, and business intelligence.
            It also has system integration, process integration, and workflow automation capabilities.


        </blockquote>
        <h2>Core Services</h2>
        <p>
            Server-Side and Client Object Models , Deployment of Sandboxed and Farm Solutions ,SPS 2013/SPS 2010/MOSS 2007 installation and administration (from standalone edition to web farms with load balancing), SharePoint 2010, 2013 and MOSS 2007 sites branding
        </p>
        <a class="uk-button uk-button-primary" href="/Home/SharePoint">More Info</a>
    </div>


</div>

<hr class="uk-grid-divider">

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        <img width="660" height="400" src="~/Images/it-computer-programming-analysis.png" alt="">
    </div>
    <div class="uk-width-medium-1-2">
        <h1>Architecture</h1>
        <blockquote>
            Software architecture is the high level structure of a software system, the discipline of creating such structures, and the documentation of these structures. It is the set of structures needed to reason about the software system, and comprises the software elements, the relations between them, and the properties of both elements and relations. The architecture of a software system is a metaphor, analogous to the architecture of a building.
            <sup>
                <a href="http://en.wikipedia.org/wiki/Software_architecture" target="_blank">1</a>
            </sup>
        </blockquote>
        <h2>Core Services</h2>
        <p>Service Oriented Architecture (SOA), N-Tier Architecture, .Net, Web Api, Big Data, Windows Applications, Responsive Web Sites</p>
        <a class="uk-button uk-button-primary" href="/Home/Contact">Contact Me</a>
    </div>


</div>

<hr class="uk-grid-divider">


<div class="uk-grid" data-uk-grid-margin>



    <div class="uk-width-medium-1-2">
        <h1>Training</h1>
        <p>Onsite technical training, Brownbags, "Train the Trainers"</p>
        <h2>Core Services</h2>
        <p>Sharepoint, Programming, Business Intelligence, Artificial Intelligence, Leadership, Agile Development, Project Management, Game Development, Oject Oriented Programming, much much more.</p>
        <a class="uk-button uk-button-primary" href="/Home/Contact">Contact Me</a>
    </div>
    <div class="uk-width-medium-1-2">
        <img width="660" height="400" src="~/Images/Computer-class.jpg" alt="">
    </div>

</div>

<hr class="uk-grid-divider">

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        <img width="660" height="400" src="~/Images/top-debugging-tips.jpg" alt="">
    </div>
    <div class="uk-width-medium-1-2">
        <h1>Fixing Broken Projects</h1>
        <p>Project over budget? Behind Schedule? Buggy? Broken? I can help you get your project back on track with leadership, mentoring, training or just hands on/head down programming</p>
        <h2>Core Services</h2>
        <p>Rapid Aquisition of domain knowledge, Project Management, Mentoring, Training, Debugging/Troubleshooting, Talent Aquisition, Building Team Morale, Cost Savings, Expert Software Development</p>
        <a class="uk-button uk-button-primary" href="/Home/Contact">Contact Me</a>
    </div>


</div>

<hr class="uk-grid-divider">


<div class="uk-grid" data-uk-grid-margin>



    <div class="uk-width-medium-1-2">
        <h1>Public Speaking</h1>
        <blockquote>
            Public speaking is the process and act of speaking or giving a lecture to a group of people in a structured, deliberate manner intended to inform, influence, or entertain a listening audience. Public speaking is commonly understood as face-to-face speaking between individuals and an audience for the purpose of communication. It is closely allied to "presenting", although the latter is more often associated with commercial activity. Most of the time, public speaking is to persuade the audience.
            <sup>
                <a href="http://en.wikipedia.org/wiki/Public_speaking" target="_blank">1</a>
            </sup>
        </blockquote>
        <h2>Core Services</h2>
        <p>Keynote Speaker, Panelist, Evangelist, Technology Speaker, Presenter </p>
        <a class="uk-button uk-button-primary" href="/Home/Contact">Contact Me</a>
    </div>
    <div class="uk-width-medium-1-2">
        <img width="660" height="400" src="~/Images/public-speaking.jpg" alt="">
    </div>
</div>

<hr class="uk-grid-divider">

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        <img width="660" height="400" src="~/Images/SpecOps.png" alt="">
    </div>
    <div class="uk-width-medium-1-2">
        <h1>Special Ops</h1>
        <p>Those hard to define, hard to categorize services. I specialize in POCs and R&D.</p>
        <h2>Core Services</h2>
        <p>New Products, Research and Development(R&D), Proofs of Concept(POCs), Counter Corporate Espionage, Extensive Personnel Background Checks, Computer Forensics, Search Engine Optimization(SEO), Social Media Marketing</p>
        <a class="uk-button uk-button-primary" href="/Home/Contact">Contact Me</a>
    </div>


</div>
