@{
    ViewBag.Title = "Programming";
}


<div style="background: url('/Images/computer-programming-support-hdr1.jpg') 50% 0 no-repeat; height: 292px;">

</div>
<h2 class="uk-heading-large">Programming</h2>
<h3>As a trusted custom software developer, I apply my vast industry knowledge and domain expertise to build landmark enterprise and mobile applications for leading companies in the financial services, healthcare, travel & hospitality and other industries.</h3>


<div class="uk-grid uk-grid-width-1-2 uk-grid-match" data-uk-grid-margin data-uk-grid-match="{target:'.uk-panel'}">
    <div>
        <div class="uk-panel-box">
            <p class="uk-text-large">Who Becomes My Client for Application Development?</p>
            <ul>
                <li>I work with smart, highly sophisticated global companies that recognize the need for a skilled technology partner to build custom solutions that generate high returns with little risk.</li>
                <li>I help organizations that demand quality, proven domain expertise and integrity from the vendors they work with.</li>
                <li>I am engaged by firms looking for a senior, highly skilled application development resource.</li>
                <li>I work with complex businesses that are looking to trim expenses, bring new and re-engineered products to market faster.</li>

            </ul>
        </div>
    </div>
    <div>
        <div class="uk-panel-box">
            <p class="uk-text-large"> What Do Customers Gain by Working with Me?</p>
            <p>Game-Changing Applications: the right technology, delivered, to solve clients’ biggest business challenges.</p>
            <p>No matter what application needs to be developed, my clients can always count on me for:</p>
            <ul>
                <li>Fast Time to Market.</li>
                <li>Proven strategies that use top-notch management methodologies to keep projects on time, helping customers to get innovative solutions in deployment faster.</li>
                <li>Peace of Mind</li>

            </ul>
            <p>Finally, here is an application developer who gets it, who delivers what they say they’ll deliver, who views their role as an equal partner with insights and valuable opinions, and who works hand-in-hand with customers to get it done right.</p>
            <ul>
                <li>The high degree of expertise and specialization I bring to the table enables me to offer clients services from idea to production, managed in a fully transparent and candid manner.</li>
                <li>My clients receive superior service and full commitment.</li>


            </ul>
        </div>

    </div>


</div>

<hr class="uk-grid-divider">

<h2 class="uk-h2">Technical Capabilities</h2>

<div class="uk-grid uk-grid-width-1-2 uk-grid-match" data-uk-grid-margin data-uk-grid-match="{target:'.uk-panel'}">

    <div >
        <div class="uk-panel-box">
            <p class="uk-text-large">Software Design and Development Lifecycle</p>
            <ul>
                <li>Agile Software Development</li>
                <li>Development</li>
                <li>Continuous Integration using Microsoft Team Foundation Server (TFS)</li>
                <li>Unit-testing: MSUnit, NUnit</li>
                <li>Model Driven Development</li>
                <li>UML modeling</li>
            </ul>
        </div>
    </div>

    <div >
        <div class="uk-panel-box">
            <p class="uk-text-large">Enterprise Applications</p>
            <ul>
                <li>Windows Communication Foundation (WCF) & SOA</li>
                <li>Windows Workflow Foundation (WWF)</li>
                <li>Enterprise Services</li>
                <li>Microsoft Enterprise Library</li>
                <li>Windows Services</li>
                <li>Microsoft Cluster Service (MSCS)</li>
                <li>Component Load Balancing (CLB)</li>
                <li>Microsoft Network Load Balancing Services (NLB)</li>
            </ul>
        </div>
    </div>

    <div >
        <div class="uk-panel-box">
            <p class="uk-text-large">Distributed Applications</p>
            <ul>
                <li>Windows Azure Cloud Applications</li>
                <li>Distributed Transactions</li>
                <li>Web Services</li>
                <li>Web Service Extensions, SOAP customization, XSD usage</li>
                <li>Remoting</li>
                <li>Custom Remoting: marshaling, channeling, security</li>
                <li>BizTalkv</li>
                <li>MSMQ</li>
            </ul>
        </div>
    </div>

    <div class="uk-width-1-2">
        <div class="uk-panel-box">
            <p class="uk-text-large">Web-Based Applications</p>
            <ul>
                <li>ASP.NET</li>
                <li>Third party controls</li>
                <li>Custom controls</li>
                <li>AJAX</li>
                <li>XML/XSLT</li>
                <li>Master Pages</li>
                <li>ASP.NET MVC</li>
                <li>Silverlight</li>
                <li> Microsoft Office SharePoint Server (MOSS)</li>
                <li>Windows SharePoint Services (WSS)</li>
                <li>Microsoft SharePoint Server (SharePoint 2010)</li>
                <li>FAST Search Server 2010 for SharePoint</li>
            </ul>
        </div>
    </div>

    <div class="uk-width-1-2">
        <div class="uk-panel-box">
            <p class="uk-text-large">Desktop Applications</p>
            <ul>
                <li>Windows Presentation Foundation (WPF)</li>
                <li>WinForms</li>
                <li>Third party controls</li>
                <li>Custom controls</li>
                <li>Asynchronous data and message processing</li>
                <li>Custom designers</li>
                <li>Smart Clients</li>
                <li>Composite Application Blocks (CAB)</li>
                <li>Smart Client Software Factory (SCSF)</li>
                <li>Microsoft Surface</li>
                <li>2D Graphics</li>
                <li>3D Graphics</li>
                <li>GDI+</li>
                <li>Font management</li>
            </ul>
        </div>
    </div>

    <div class="uk-width-1-2">
        <div class="uk-panel-box">
            <p class="uk-text-large">Mobile Applications</p>
            <ul>
                <li>Windows Phone 7</li>
                <li>iOS</li>
                <li>Android</li>
                <li>Compact Framework</li>
                <li>Web services collaboration</li>
                <li>SQL Server CE</li>
            </ul>
        </div>
    </div>

    <div class="uk-width-1-2">
        <div class="uk-panel-box">
            <p class="uk-text-large">Data Access, Management, Reporting and Analysis</p>
            <ul>
                <li>RDBMS</li>
                <li>Microsoft SQL Server 2000, 2005, 2008, SQL Express</li>
                <li>ORM</li>
                <li>LINQ</li>
                <li>Entity Framework</li>
                <li>NHibernate</li>
                <li>Data Access and Management</li>
                <li>ADO.NET, DataSets</li>
                <li>MSSQL Server Integration Services (SSIS)</li>
                <li>Reporting</li>
                <li>Microsoft SQL Server Reporting Services</li>
                <li>Crystal Reports</li>
                <li>Analysis</li>
                <li>OLTP</li>
                <li>OLAP</li>
                <li>Multi-dimensional Data Processing</li>
            </ul>
        </div>
    </div>

    <div class="uk-width-1-2">
        <div class="uk-panel-box">
            <p class="uk-text-large">Advanced Development Technologies</p>
            <ul>
                <li> Reflection (dynamic emitting of assemblies, CodeDOM, custom attributes, auto generation of Web Service proxy)</li>
                <li>AppDomain management (custom assembly resolving), Garbage collection, GAC</li>
                <li>Security (windows authorization, code access permissions, cryptography usage)</li>
                <li>COM interop/Platform interop</li>
                <li>COM Interop, PInvoke, IE, MS Office and shell integration</li>
                <li> Multithreading (synchronization, thread-safe UI, thread pooling, com interop apartments management)</li>
                <li>Serialization (custom, selective, versioning support)</li>
                <li>Deployment (web deployment, Click Once)</li>
                <li> Globalization (multi-language application support)</li>
            </ul>
        </div>
    </div>


</div>


   
