
@{
    ViewBag.Title = "SharePoint";
}

<div >
    <img src="~/Images/SharePoint2013logo.png" height="100" />
</div>

<h2 class="uk-heading-large">SharePoint</h2>
<h3>I have built extensive expertise in the development of Microsoft SharePoint based solutions through the successful completion of several projects in the last few years.</h3>

<div class="uk-grid  uk-grid-match" data-uk-grid-margin data-uk-grid-match="{target:'.uk-panel'}">
    <div >
        <div class="uk-panel-box ">
            <p class="uk-text-large">Technology Expertise</p>
            <p>I implement a wide spectrum of Microsoft SharePoint solutions, including:</p>
            <ul>
                <li>Server-Side and Client Object Models</li>
                <li>Deployment of Sandboxed and Farm Solutions</li>
                <li>SPS 2013/SPS 2010/MOSS 2007 installation and administration (from standalone edition to web farms with load balancing)</li>
                <li>SharePoint 2010, 2013 and MOSS 2007 sites branding</li>
                <li>Custom web parts development</li>
                <li> Custom application web pages development</li>
                <li>Custom service applications development</li>
                <li>Custom site templates development</li>
                <li>Custom SharePoint 2013 applications development</li>
                <li>Custom SharePoint 2013 display templates development</li>
                <li>Migration from older versions to SharePoint 2013/2010</li>
                <li>Low level programming for MOSS 2007/SPS 2010/SPS 2013 core search engine</li>
                <li>Deployment of e-learning solutions based on MS SharePoint Learning Kit</li>
                <li>Integration with Microsoft SQL Reporting services</li>
                <li> Integration with MS CRM</li>
                <li>Security solutions development and integration SharePoint and Windows Live ID or other custom security systems</li>
                <li>Implementation of custom Web-based workflow solutions using SharePoint Designer, Microsoft InfoPath, Windows Workflow Foundation (WWF) and Nintex</li>
                <li>Implementation of content management solutions using MS content management server and MOSS 2007/SPS 2010</li>
                <li>Designing Native mobile device applications that interact with MS SharePoint Server</li>
                <li>Custom tools for server maintenance</li>
                <li>Unit testing of SharePoint-based solutions</li>
                <li>Automated UI testing of SharePoint-based solutions</li>
                <li>Automated performance testing of the SharePoint-based solutions</li>



            </ul>
        </div>
    </div>
    


</div>
