@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    1305 W 300N<br />
    Clearfield, UT 84015<br />
    <abbr title="Phone">P:</abbr>
    801.661.0002
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Me@MichaelJohnHorn.com">Me@MichaelJohnHorn.com</a><br />
   
</address>
