@page
@model MichaelJohnHorn.com.Pages.ServicesModel
@{
    ViewData["Title"] = "Services";
}

<h2>Services</h2>

<div class="services">
    <div class="service">

        <div>
            <img src="~/images/pic2.jpg" />
        </div>

        <div class="textBox">
            <div class="primary">
                <h1>
                    PROGRAMMING

                </h1>
                <h2>
                    The expert development of applications, web sites, and other software driven systems. By the hour, day, week, month, year or project. Onsite or remote.
                </h2>
            </div>
            <div class="secondary">
                <h1>
                    Core Services
                </h1>
                <h2>
                    Languages: C, C++, C#, C#.Net, .Net 2.0/3.0/4.0/4.5, Java, JavaScript, AJAX, CSS, VB, VB.Net, , Angular.js
                    Web Technologies: HTML, Java Script, VBScript, ASP .Net 1.0 / 2.0, SOAP, REST, XML, XSLT, Web Services, WCF
                </h2>
            </div>


        </div>

    </div>
    <div class="service">

        <div>
            <img src="~/images/pic1.jpg" />
        </div>

        <div class="textBox">
            <div class="primary">
                <h1>
                    FIREFIGHTING

                </h1>
                <h2>
                    Project over budget? Behind Schedule? Buggy? Broken? I can help you get your project back on track with leadership, mentoring, training or just hands on/head down programming.
                </h2>
            </div>
            <div class="secondary">
                <h1>
                    Core Services
                </h1>
                <h2>
                    Rapid Aquisition of domain knowledge, Project Management, Mentoring, Training, Debugging/Troubleshooting, Talent Aquisition, Building Team Morale, Cost Savings, Expert Software Development
                </h2>
            </div>


        </div>

    </div>
    <div class="service">
        <div>
            <img src="~/images/code.jpg" />
        </div>

        <div class="textBox">
            <div class="primary">
                <h1>
                    ARCHITECTURE

                </h1>
                <h2>
                    Software architecture is the high level structure of a software system, the discipline of creating such structures, and the documentation of these structures. It is the set of structures needed to reason about the software system, and comprises the software elements, the relations between them, and the properties of both elements and relations. The architecture of a software system is a metaphor, analogous to the architecture of a building.
                </h2>
            </div>
            <div class="secondary">
                <h1>
                    Core Services
                </h1>
                <h2>
                    Service Oriented Architecture (SOA), N-Tier Architecture, .Net, Web Api, Big Data, Windows Applications, Responsive Web Sites
                </h2>
            </div>


        </div>

    </div>
    <div class="service">

        <div>
            <img src="~/images/city.jpg" />
        </div>

        <div class="textBox">
            <div class="primary">
                <h1>
                    TRAINING

                </h1>
                <h2>
                    Onsite technical training, Brownbags, "Train the Trainers".
                </h2>
            </div>
            <div class="secondary">
                <h1>
                    Core Services
                </h1>
                <h2>
                    Sharepoint, Programming, Business Intelligence, Artificial Intelligence, Leadership, Agile Development, Project Management, Game Development, Oject Oriented Programming, much much more.
                </h2>
            </div>


        </div>

    </div>

    <div class="service">

        <div>
            <img src="~/images/speaking.jpg" />
        </div>

        <div class="textBox">
            <div class="primary">
                <h1>
                    PUBLIC SPEAKING

                </h1>
                <h2>
                    Public speaking is the process and act of speaking or giving a lecture to a group of people in a structured, deliberate manner intended to inform, influence, or entertain a listening audience. Public speaking is commonly understood as face-to-face speaking between individuals and an audience for the purpose of communication. It is closely allied to "presenting", although the latter is more often associated with commercial activity. Most of the time, public speaking is to persuade the audience.
                </h2>
            </div>
            <div class="secondary">
                <h1>
                    Core Services
                </h1>
                <h2>
                    Keynote Speaker, Panelist, Evangelist, Technology Speaker, Presenter
                </h2>
            </div>


        </div>

    </div>

</div>